<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="scss/main.css"> #}
    <link rel="stylesheet" href="{{ asset('css/scss/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/node_modules/bootstrap-icons/font/bootstrap-icons.css') }}">
    {# <link rel="stylesheet" href="{{ asset('css/node_modules/bootstrap/dist/css/bootstrap.min.css') }}"> #}

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montaga&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img src="img/Logo-3.png" alt="logo Quai Antique" style= "height : 50px;">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- mb-2 = margin bottom 2 / ms-auto = marge à gauche au lieu de droite donc m start au lieu de me -->
                  <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('galerie') }}">Galerie</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/test">La carte</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/allResa">Vos réservations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/account">Mon compte</a>
                  </li>
                  <li class="nav-item" data-show="disconnected"> <!-- à cacher si l'utilisateur est connecté -->
                    <a class="nav-link" href="/signin">Connexion</a>
                  </li>
                  <li class="nav-item" data-show="connected"> <!-- à cacher si l'utilisateur est déconnecté -->
                    <button class="nav-link" id="signout-btn">Déconnexion</button>
                    <!-- co/déco à gérer plus tard -->
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <main id="main-page">
        <div class="bigtitle text-center">
            <div class="bigtitle-content">
                <h1>Changement de mot de passe</h1>
            </div>
        </div>
        <div class="container col-8 pt-4">
            <form>
                <div class="mb-3">
                <label for="PasswordInput" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="PasswordInput" placeholder="*******" name="Password">
                </div>
                <div class="mb-3">
                    <label for="ValidatePasswordInput" class="form-label">Validez votre mot de passe</label>
                    <input type="password" class="form-control" id="ValidatePasswordInput" placeholder="*******" name="PasswordConfirm">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Changer mon mot de passe</button>
                </div>
            </form>
            <div class="text-center pt-3">
                <a href="/account">Modifier mes informations personnelle</a>
            </div>
        </div>
    </main>

    <footer class="bg-dark text-white text-center footer py-4">
        <div class="row">
            <div class="col-12 col-lg-4 d-flex flex-column align-item-center justify-content-center">
                <h2 class="text-secondary">Nos horaires</h2>
                <p>Du mardi au dimanche  12:00-14:00  18:00-23:00</p>
            </div>
            <div class="col-6 col-lg-4 d-flex flex-column align-item-center justify-content-center">
                <p>Quai Antique <br/>
                    5 rue de la route <br/>
                    31150 Ville <br/>
                    04 01 01 01 01 <br/>
                </p>
            </div>
            <div class="col-6 col-lg-4 d-flex flex-column align-item-center justify-content-center">
                <p>contact@quaiantique.com</p>
            </div>
        </div>
    </footer>
    
    <!-- pour inclure mon système de routage :  -->
     <script src="public/js/script.js"></script>
    <script type="module" src="Router/router.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>