<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="scss/main.css"> #}
    <link rel="stylesheet" href="{{ asset('css/scss/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/node_modules/bootstrap-icons/font/bootstrap-icons.css') }}">
    {# <link rel="stylesheet" href="{{ asset('css/node_modules/bootstrap/dist/css/bootstrap.min.css') }}"> #}

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montaga&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img src="logo/Logo-3.png" alt="logo Quai Antique" style= "height : 50px;">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- mb-2 = margin bottom 2 / ms-auto = marge à gauche au lieu de droite donc m start au lieu de me -->
                  <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('galerie') }}">Galerie</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/test">La carte</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/allResa">Vos réservations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/account">Mon compte</a>
                  </li>
                  <li class="nav-item" data-show="disconnected"> <!-- à cacher si l'utilisateur est connecté -->
                    <a class="nav-link" href="/signin">Connexion</a>
                  </li>
                  <li class="nav-item" data-show="connected"> <!-- à cacher si l'utilisateur est déconnecté -->
                    <button class="nav-link" id="signout-btn">Déconnexion</button>
                    <!-- co/déco à gérer plus tard -->
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <main id="main-page">
      <div class="bigtitle text-center">
        <div class="bigtitle-content">
          <p>Le chef Arnaud Michant vous invite au</p>
            <h1>Quai Antique</h1>
            <!-- <button class="btn btn-primary">Réserver</button> -->
            <a href="/reserver" class="btn btn-primary">Réserver</a>
        </div>
      </div>

      <section>
          <article>
              <div class="container">
                  <div class="row g-0"> <!-- g-0 supprime les gutters -->
                      <div class="col-6 home-square1 d-flex justify-content-center align-items-center">
                          {# <img src="/img/chef.jpg" alt="chef" class="w-100"> #}
                          <div class="text-center">
                              <a href="#" class="btn btn-secondary">Nos menus</a>
                          </div>
                      </div>
                      <div class="col-6 pt-4 d-flex flex-column justify-content-center align-items-end text-end">
                          <h2>Bienvenue au Quai Antique</h2>
                          <p>Bienvenu sur le site de notre restaurant grastronomique <br/> 
                              situé au coeur de la magnifique ville de Chambéry.<br/> 
                              Le chef Arnaut Michant vous invite à découvrir <br/>
                              un voyage culinaire mémorable.</p>
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row bg-dark">
                      <div class="col-6 pt-4 d-flex flex-column justify-content-center align-items-start text-start">
                          <h2>Des produits frais</h2>
                          <p>Découvrez la richesse des saveurs avec nos plats <br/>
                              élaborés à partir de poduits frais et de saison, <br/>
                              cueillit et produit localement.</p>
                      </div>
                      <div class="col-6 home-square2 d-flex justify-content-center align-items-center">
                          {# <img src="/img/chef.jpg" alt="chef" class="w-100"> #}
                          <div class="text-center">
                              <a href="/galerie" class="btn btn-secondary">Voir la galerie</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row g-0"> <!-- g-0 supprime les gutters -->
                      <div class="col-6 home-square3 d-flex justify-content-center align-items-center">
                          {# <img src="/img/chef.jpg" alt="chef" class="w-100"> #}
                          <div class="text-center">
                              <a href="#" class="btn btn-primary">Réserver</a>
                          </div>
                      </div>
                      <div class="col-6 pt-4 d-flex flex-column justify-content-center align-items-end text-end">
                          <h2>Réservation en ligne</h2>
                          <p>Nous sommes ouverts du Mardi au Samedi. <br/>
                              Vous pouvez directement réserver votre table sur le site ! <br/>
                              Il suffit de cliquer sur le bouton ci-dessous.</p>
                      </div>
                  </div>
              </div>
          </article>
      </section>
    </main>

    <footer class="bg-dark text-white text-center footer py-4">
        <div class="row">
            <div class="col-12 col-lg-4 d-flex flex-column align-item-center justify-content-center">
                <h2 class="text-secondary">Nos horaires</h2>
                <p>Du mardi au dimanche  12:00-14:00  18:00-23:00</p>
            </div>
            <div class="col-6 col-lg-4 d-flex flex-column align-item-center justify-content-center">
                <p>Quai Antique <br/>
                    5 rue de la route <br/>
                    31150 Ville <br/>
                    04 01 01 01 01 <br/>
                </p>
            </div>
            <div class="col-6 col-lg-4 d-flex flex-column align-item-center justify-content-center">
                <p>contact@quaiantique.com</p>
            </div>
        </div>
    </footer>
    
    <!-- pour inclure mon système de routage :  -->
     <script src="public/js/script.js"></script>
    <script type="module" src="Router/router.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>